{% extends 'hsbus/layout.html' %}


{% block subtitle %}
정류장별 버스 정차 집중도
{% endblock %}

{% block tag %} 버스 운행 현황 분석 / 정류장별 버스 정차 집중도 {% endblock %}

{% block content %}
<div class="explain" >
  <h1 align='center' style='color:red'>간트차트를 활용한 버스 정차 집중도 모니터링</h1>
  <hr color="black" height="500px">
  <P style='color:black; margin-left:17%'>
    간트차트를 활용한 버스 정차 집증도 및 버스 정차 시간 모니터링 페이지입니다.<br/>
    이 페이지를 통해 특정 정류장에 대한 버스의 집중적 정차여부와 다음 버스와의 시간차에 대해 시각화 하였습니다.<br/>
    정차 집중도 간트차트에서 흰색 부분은 해당 시간대에 버스가 정류장에 정차하지 않았음을 의미합니다.<br/>
    회색 부분과 파란색 부분은 다음 버스 도착까지 15분 이상 소요되었는지 여부를 뜻합니다.<br/>
    버스정차 시간 간트차트에서 특정 정류장에 대해 버스 집중도를 파악합니다.

  </p>
</div>
<br/>
<div class='tableauPlaceholder' style='width: 1004px; height: 836px; margin: auto;'><object class='tableauViz' width='1004' height='836' style='display:none;'><param name='host_url' value='http%3A%2F%2F1.246.219.220%2F' /> <param name='site_root' value='' /><param name='name' value='ITRC_10_3____&#47;itrc__7' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
{% endblock %}
