{% extends 'hsbus/layout.html' %}

{% block subtitle %}
출퇴근 패턴
{% endblock %}

{% block tag %} 버스 승객 분석 / 승하차 패턴 분석 / 출퇴근 패턴 {% endblock %}

{% block content %}
<div class="explain" >
  <h1 align='center' style='color:red'>버스 이용객의 출퇴근 패턴 분석</h1>
  <hr color="black" height="500px">
  <P style='color:black; margin-left:17%'>
    LDA 기법을 활용하여 버스 이용객의 출퇴근 패턴을 분석한 페이지입니다. <br/>
    출퇴근 승객의 승하차패턴은 평일 5일 중 3일 이상 동일 시간대에 같은 정류장에서 승하차한
    승객을 대상으로 승차 시간대, 환승정류장을 고려하여 패턴을 도출하였습니다.<br/>
  </p>
</div>
<div class='tableauPlaceholder' style='width: 1004px; height: 836px; margin: auto'><object class='tableauViz' width='1004' height='836' style='display:none;'><param name='host_url' value='http%3A%2F%2F1.246.219.220%2F' /> <param name='site_root' value='' /><param name='name' value='ITRC_10_3____&#47;itrc__9' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
{% endblock %}
